*{
      padding: 0;
      margin: 0;
}


body .nav-bar {
      display: flex;
      flex-direction: row;
justify-content: space-between;
}



body .nav-bar logo{

}


.logo{

}

.row_iteam{

}


a{
      text-decoration: none;

}

.iteams ul{
      list-style: none;
      display:inline;
      margin: 1.2rem;
      padding: 0.2rem;
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight: bold;
} 
.iteams .row-iteam a{
      text-decoration: none;
      color: teal;
      display:inline;
}


.iteams .row-iteam a:hover{

   
      text-decoration-line: unset;
      margin: 1rem;
      padding: 1rem;
      color: yellowgreen;
}


.container{
      width: 1200px;
margin: auto;
}